body, html
{
	height: 100%;
	background-color: rgb(33, 37, 41);
	color: black;
}
pre
{
	color: black;
}
.row
{
	width: 100%;
	margin: 0;
	padding: 0;
}
/* Bloc pour remplir l'espace du menu de navigation */
.bloc
{
	height: 80px;
}
.navbar li
{
	margin: auto 5px;
}
/* Container principal */
.container-fluid
{
	background-color: white;
	padding: 2% 0;
}
h1, h2, h3, h4, h5
{
	text-align: center;
	color: #007bff;
}
h1 a, h2 a, h3 a, h4 a, h5 a
{
	color: white;
}
blockquote
{
	text-align: center;
}
a:hover
{
	text-decoration: none;
}
/* Pagination */
.paginationNav
{
	background-color: rgb(33, 37, 41);
	padding-top: 2%;
}
/* Affichage des msg */
.alertP
{
	margin: 2% auto;
}
.alertP h4
{
	text-align: center;
	padding: 1%;
}
.alertP #ucForm label
{
	text-align: left;
	padding: 0;
}
.alertP span
{
	margin: 1% auto;
	display: block;
	text-align: center;
	font-weight: bold;
}
/* Book et Billet */
.book, .billet
{
	background-color: rgb(33, 37, 41);
	color: white;
	margin: 1% auto;
	padding: 2%;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	box-shadow: 0px 0px 2px black;
	transition: all .5s;
}
.book blockquote
{
	text-align: center;
	font-size: 25px;
}
.book .affCat button
{
	display: inline-block;
	font-size: 15px;
}
.book p, .billet p
{
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	transition: all .5s;
}
.billet ul
{
	color: black;
}
.book ul
{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.book ul li
{
	display: inline-block;
	margin: 1%;
}
.book ul li button
{
	padding: 1%;
}
.book ul li a
{
	display: block;
}
.book .adm
{
	display: block;
	text-align: center;
	padding: 1%;
}
.prevBook i, .billet i
{
	cursor: pointer;
	color: white;
}
.prevBook ul li i, .billet ul li i
{
	color: black;
}
.prevBook
{
	display: inline-block;
	padding: 2%;
	border-radius: 4px;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;
	background-color: rgb(33, 37, 41);
	color: white;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	transition: all .5s;
}
.prevBook blockquote
{
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	font-size: 15px;
	min-height: 130px;
	max-height: 130px;
}
.prevBook ul
{
	color: black;
}
.prevBook ul li
{
	padding: 2%;
}
.prevBillet
{
	background-color: rgb(33, 37, 41);
	color: white;
}
/* Utilisateur */
.user
{
	border: solid;
	background-color: rgb(33, 37, 41);
	color: white;
}
.rgp div h3
{
	padding: 1%;
}
.user input, .user button
{
	display: block;
	margin: 1% auto;
	text-align: center;
}
.user blockquote
{
	text-align: center;
}
.user hr
{
	background-color: white;
}
/* Formulaire d'inscription et de connexion */
.formGenerator
{
	position: fixed;
	width: 40%;
	left: 30%;
	top: 15%;
	z-index: 50;
}
.formGenerator input[type='text'], input[type='password'], input[type='email'], input[type='submit']
{
	display: block;
	margin: 1% auto;
	text-align: center;
}
.sButton
{
	display: block;
	margin: auto;
}
.formGenerator .formCatEl
{
	display: inline-block;
	margin: 1%;
}
.formGenerator textarea
{
	display: block;
	margin: 1% auto;
	text-align: center;
	height: 150px;
}
.formCatEl
{
	display: inline-block;
	border: solid grey 1px;
}
.formCatEl:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 5px black;
}
.formCatEl[data-sel='0']
{
	background-color: white;
}
.formCatEl[data-sel='1']
{
	background-color: #287BC7;
	color: white;
}
/* Formulaire Intégré (POST) */
.form input
{
	margin: 1% auto;
	display: block;
}
.form textarea
{
	display: block;
	margin: 1% auto;
	height: 150px;
}
/* Erreur sortant de js */
.error
{
	display: block;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

/* Bandeau cookie */
.cookieInfo
{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 1%;
	background-color: white;
	z-index: 50;
}