body, html
{
	height: 100%;
	background-color: rgb(33, 37, 41);
	/* margin: 0; */
	/* padding: 0; */
}
input[type='button']:hover, button:hover, input[type='submit']:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 5px black;
}
pre
{
	color: white;
}
section
{
	/* margin: 0 auto; */
	/* border: solid 1px red; */
}
.row
{
	/* margin-left: 0.1%; */
	/* border: solid 1px blue; */
	width: 100%;
	margin: 0;
	padding: 0;
}
/* Bloc pour remplir l'espace du menu de navigation */
.bloc
{
	height: 80px;
}
.navbar button
{
	margin: 0 10px;
	padding: 5px;
	transition: all .5s;
}
.navbar button:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 5px black;
}
/* Container principal */
.container-fluid
{
	/* border: solid green; */
	background-color: white;
	padding: 2% 0;
	/* text-align: center; */
}
h1, h2, h3, h4, h5
{
	text-align: center;
}
h1 a, h2 a, h3 a, h4 a, h5 a
{
	font-size: 15px;
	font-style: italic;
}
blockquote
{
	text-align: center;
}
a:hover
{
	text-decoration: none;
}
/* Affichage des msg */
.alertP
{
	margin: 2% auto;
}
.alertP h4
{
	text-align: center;
	padding: 1%;
}
.alertP #ucForm label
{
	text-align: left;
	padding: 0;
}
.alertP span
{
	margin: 1% auto;
	display: block;
	text-align: center;
	font-weight: bold;
}
/* Book et Billet */
.book, .billet
{
	background-color: rgb(33, 37, 41);
	color: white;
	margin: 1% auto;
	padding: 1%;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	box-shadow: 0px 0px 2px black;
	transition: all .5s;
}
.book blockquote
{
	text-align: center;
	font-size: 25px;
}
.book p, .billet p
{
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	transition: all .5s;
}
.book ul, .billet ul
{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.book ul li, .billet ul li
{
	display: inline-block;
	margin: 1%;
}
.book ul li button
{
	padding: 1%;
}
.book ul li a
{
	display: block;
}
.billet i, .prevBook i
{
	float: right;
	opacity: 0.5;
	margin: 0 2%;
	transition: all .5s;
	color: white;
}
.billet i:hover, .prevBook i:hover
{
	transform: rotate(360deg);
	opacity: 1;
	cursor: pointer;
}
.prevBook
{
	margin: 1% 4%;
	min-height: 150px;
	max-height: 250px;
	overflow: hidden;
	background-color: rgb(33, 37, 41);
	color: white;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	transition: all .5s;
}
.prevBook blockquote
{
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	min-height: 100px;
	max-height: 100px;
}
.prevBook ul
{
	list-style: none;
}
.prevBook ul li
{
	padding: 10px;
	text-align: right;
}
.prevBillet
{
	border: solid green;
	background-color: rgb(33, 37, 41);
	color: white;
}
/* Utilisateur */
.user
{
	border: solid;
	background-color: rgb(33, 37, 41);
	color: white;
}
.user input, .user button
{
	display: block;
	margin: 1% auto;
	text-align: center;
}
.user blockquote
{
	text-align: center;
}
.user .follow div, .user .history div
{
	margin: 2% auto;
}
.user .follow div button, .user .history div button
{
	display: inline-block;
	transition: all .3s;
	color: black;
}
.user .follow div button a, .user .history div button a
{
	
}
.user .follow div button:hover, .user .history div button:hover
{
	background-color: #007bff;
	border-color: #007bff;
	color: white;
	text-shadow: 0px 1px 2px black;
}
/* Formulaire d'inscription et de connexion */
.formGenerator
{
	position: fixed;
	width: 40%;
	left: 30%;
	top: 15%;
}
.formGenerator input[type='text'], input[type='password'], input[type='email'], input[type='submit']
{
	display: block;
	margin: 1% auto;
	text-align: center;
}
.sButton
{
	display: block;
	margin: auto;
}
.formGenerator .formCatEl
{
	display: inline-block;
	margin: 1%;
}
.formGenerator textarea
{
	display: block;
	margin: 1% auto;
	text-align: center;
	height: 150px;
}
.formCatEl
{
	display: inline-block;
	border: solid grey 1px;
}
.formCatEl:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 5px black;
}
.formCatEl[data-sel='0']
{
	background-color: white;
}
.formCatEl[data-sel='1']
{
	background-color: #287BC7;
	color: white;
}
/* Formulaire Intégré (POST) */
.form input
{
	margin: 1% auto;
	display: block;
}
.form textarea
{
	display: block;
	margin: 1% auto;
	height: 150px;
}
/* Erreur sortant de js */
.error
{
	display: block;
	text-align: center;
	font-weight: bold;
}

/* Bandeau cookie */
.cookieInfo
{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 1%;
	background-color: white;
}