@media screen and (min-width: 768px) and (max-width: 991px)
{
	.formGenerator
	{
		width: 70%;
		left: 15%;
	}
	.prevBook h2
	{
		font-size: 20px;
	}
	.prevBook blockquote
	{
		overflow: hidden;
		text-overflow: clip;
		text-overflow: ellipsis;
		text-overflow: "…";
		font-size: 15px;
		max-height: 180px;
	}
}