.boxComment
{
	text-align: center;
	background-color: rgb(33, 37, 41);
	color: white;
	padding: 1%;
	margin: 1% auto;
}
.boxComment article
{
	border: solid white;
	background-color: white;
	color: black;
	display: inline-block;
	margin: 1% auto;
	overflow: hidden;
}
.boxComment article ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}