<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<!-- INDEX -->
	<route url="/openclassroom/BlogV2/Web/" module="index" action="index"></route>
	<route url="/openclassroom/BlogV2/Web/deconnect" module="index" action="deconnect"></route>
	
	<!-- Billet -->
	<route url="/openclassroom/BlogV2/Web/addBillet-([0-9]+)" module="billet" action="addBillet" vars="id"></route>
	<route url="/openclassroom/BlogV2/Web/billet-([0-9]+)" module="billet" action="showBillet" vars="id"></route>
	<route url="/openclassroom/BlogV2/Web/modUb-([0-9]+)" module="billet" action="modUb" vars="id"></route>
	
	<!-- BOOK -->
	<route url="/openclassroom/BlogV2/Web/readUb" module="book" action="readUb"></route>
	<route url="/openclassroom/BlogV2/Web/book-([0-9]+)" module="book" action="showBook" vars="id"></route>
	<route url="/openclassroom/BlogV2/Web/modBook-([0-9]+)" module="book" action="modBook" vars="id"></route>
	
	<!-- PROFIL -->
	<route url="/openclassroom/BlogV2/Web/profil-([0-9]+)" module="profil" action="profil" vars="id"></route>
	<route url="/openclassroom/BlogV2/Web/profil" module="profil" action="profil"></route>
</routes>