body, html
{
	height: 100%;
	background-color: rgb(33, 37, 41);
	margin: 0;
	padding: 0;
}
header
{
	text-align: center;
}
h1, h2, h3, h4, h5
{
	text-align: center;
}
h1 a, h2 a, h3 a, h4 a, h5 a
{
	font-size: 15px;
	font-style: italic;
}
/* Bloc pour remplir l'espace du menu de navigation */
.bloc
{
	height: 60px;
}
/* Container principal */
.container-fluid
{
	margin: 1% auto;
	background-color: white;
	padding: 2%;
}
.panel
{
	position: fixed;
	margin-top: -2%;
}
.container-fluid h1
{
	text-align: center;
	padding-bottom: 1%;
}
.container-fluid a
{
	text-decoration: none;
}
.container-fluid h3, .container-fluid h4
{
	text-align: center;
}
/* PANEL ADMIN */
.panelAdmin h3
{
	color: white;
	text-align: center;
}
.panelAdmin a
{
	text-decoration: none;
	color: black;
}
.panelAdmin button
{
	transition: all .3s;
}
.panel button
{
	transition : all .3s;
	margin: 1% auto;
}
.panelAdmin button:hover, .panel button:hover
{
	background-color: #007bff;
	border-color: #007bff;
	cursor: pointer;
	color: white;
}
/* Gestion Category */
.gestCategory article
{
	display: inline-block;
	background-color: rgb(33, 37, 41);
	color: white;
	padding: 1%;
	margin: 1% auto;
}
.gestCategory article p
{
	text-align: center;
	padding: 1%;
}
/* Form Generator */
.formGenerator
{
	position: fixed;
	top: 15%;
	width: 30%;
	left: 35%;
}
.formGenerator input, .formGenerator textarea
{
	display: block;
	margin: 1% auto;
	text-align: center;
}
/* Commentaire */
.boxComment
{
	text-align: center;
}
.comment
{
	padding: 2%;
	margin: 1% auto;
	background-color: rgb(33, 37, 41);
	border-radius: 4px;
	color: white;
}
.comment p 
{
	margin: 2% auto;
}
.comment ul
{
	text-align: right;
	list-style-type: none;
}
/* Utilisateur */
.user
{
	display: inline-block;
	background-color: rgb(33, 37, 41);
	color: white;
	margin: 1%;
}
.user ul
{
	list-style: none;
}
.actUser
{
	background-color: blue;
}
/* Affichage des msg */
.alertP
{
	margin: 2% auto;
}
.alertP h4
{
	text-align: center;
	padding: 1%;
}
.alertP #ucForm label
{
	text-align: left;
	padding: 0;
}
.alertP span
{
	margin: 1% auto;
	display: block;
	text-align: center;
	font-weight: bold;
}