body, html
{
	height: 100%;
	background-color: rgb(33, 37, 41);
}
header
{
	text-align: center;
}
.row
{
	padding: 0;
	margin: 0;
}
a:hover
{
	text-decoration: none;
}
h1, h2, h3, h4, h5
{
	text-align: center;
	color: #17a2b8;
}
blockquote
{
	text-align: center;
}
/* Bloc pour remplir l'espace du menu de navigation */
.bloc
{
	height: 60px;
}
.container-fluid
{
	background-color: white;
	padding: 2% 0;
}
.panel
{
	position: fixed;
	margin-top: -2%;
}
.container-fluid h1
{
	text-align: center;
	padding-bottom: 1%;
}
.container-fluid a
{
	text-decoration: none;
}
.container-fluid h3, .container-fluid h4
{
	text-align: center;
}
/* PANEL ADMIN */
.panelAdmin h3
{
	color: white;
	text-align: center;
}
.panelAdmin button
{
	transition: all .3s;
}
.panelAdmin button
{
	transition : all .3s;
	margin: 1% 8%;
}
/* Gestion Category */
.gestCategory .card
{
	display: inline-block;
}
.gestCategory .card .card-text
{
}
/* Form Generator */
.formGenerator
{
	position: fixed;
	top: 15%;
	width: 30%;
	left: 35%;
}
.formGenerator input, .formGenerator textarea
{
	display: block;
	margin: 1% auto;
	text-align: center;
}
/* Commentaire */
.boxComment
{
	text-align: center;
}
.boxComment .card
{
	display: inline-block;
}
/* Utilisateur */
.user
{
	display: inline-block;
}
.user button, input[type='button']
{
	display: block;
}
/* Affichage des msg */
.alertP
{
	margin: 2% auto;
}
.alertP h4
{
	text-align: center;
	padding: 1%;
}
.alertP #ucForm label
{
	text-align: left;
	padding: 0;
}
.alertP span
{
	margin: 1% auto;
	display: block;
	text-align: center;
	font-weight: bold;
}