@media screen and (min-width: 768px) and (max-width: 991px)
{
	.container-fluid nav h3
	{
		font-size: 18px;
	}
	.panelAdmin button
	{
		margin: 1% 4%;
	}
	.formGenerator
	{
		left: 25%;
		width: 50%;
	}
}